
.formInput {
    position: relative;
    margin-bottom: 20px;
    vertical-align: top;
    box-sizing: border-box;
}

.formInput > * {
    display: block;
    margin: 5px 0;
}

.formInput > label {
    font-weight: 600;
    width: fit-content;
    text-transform: capitalize;
}

.formInput input, .formInput select, .formInput textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #b2bad1;
    box-sizing: border-box;
}

.formInput textarea {
    resize: none;
}

.formInput select {
    text-transform: capitalize;
}

.formInput input:disabled, .formInput select:disabled {
    background-color: #e2e2e2;
    border: none;
}


.imageContainer {
    width: 80px;
    height: 80px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.buttons {
    width: 100%;
    text-align: center;
}

.saveButton, .editButton {
    width: 130px;
    font-size: 1.02rem;
    padding: 10px 15px;
    background-color: var(--color-success);
    color: var(--text-white);
    font-weight: 700;
    transition: all .4s ease;
}

.editButton {
    background-color: var(--color-info);
}

.saveButton:not(:disabled):hover, 
.editButton:not(:disabled):hover {
    background-color: var(--theme-dark-bg);
}

.inputFootnote {
    font-size: 12px;
    color: var(--color-warning);
    font-weight: 700;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.fieldError {
    color: var(--color-danger);
    font-weight: bold;
    font-size: 13px;
}

.uploadedFiles, .initialFiles {
    margin-bottom: 20px;
}

.initialFiles h4 {
    margin-bottom: 5px;
}

.initialFilesLinks {
    overflow: hidden;
}

.uploadedFiles p, .initialFilesLinks a {
    display: block;
    margin: 5px 0;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000;
}

.initialFilesLinks a {
    text-decoration: underline;
}

.buttons {
    width: 100%;
    margin-top: 4 0px;
}


@media (min-width: 991px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    
    .formInput {
        display: inline-block;
        width: 48%;
        box-sizing: border-box;
    }    

}


@media (min-width: 1400px) {
    .form {
        width: var(--max-page-main-content-width);
        margin: 0 auto;
    }

}