
.reason {
    text-align: left;
}

.duration {
    width: 20%;
    min-width: 100px;
}

.reason {
    min-width: 300px;
}

.status {
    width: 15%;
    min-width: 100px;
}

.processor {
    width: 20%;
    min-width: 200px;
}

.processorComment {
    width: 25%;
    min-width: 200px;
}
