
.buttons {
    margin: 20px 0;
}

.reason {
    text-align: left;
}

.status, .processor, .duration {
    text-align: center;
}

.duration {
    min-width: 100px;
}

.reason {
    min-width: 300px;
}

.status {
    min-width: 100px;
}

.processor {
    min-width: 200px;
}

.processorComment {
    min-width: 200px;
}
