.container {
    min-height: 200px;
    width: 80%;
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 4px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #b6b6b6;
    z-index: var(--z-index-spinner);
    overflow: hidden;
    text-align: center;
    font-family: 'Varela Round', 'Nunito Sans';
    position: fixed;
}

.content, .head, .buttons {
    padding: 10px 20px;
}

.head {
    position: relative;
    color: var(--text-white);
    padding: 25px 0;
}

.head {
    background-color: var(--color-info);
}

.head.error {
    background-color: var(--color-danger);
}

.head.success {
    background-color: var(--color-success);
}

.head.warning {
    background-color: var(--color-warning);
}

.icon {
    border: 3px solid var(--text-white);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 42px;
}

.head:not(.error, .success) .icon {
    padding-top: 3px;
    box-sizing: border-box;
}

.content h3 {
    margin: 5px 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.content p {
    color: var(--text-dark);
    opacity: 0.9;
    line-height: 25px;
}

.buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.closeButton {
    background-color: transparent;
    color: var(--text-white);
    opacity: 0.8;
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 1.01em;
    transition: all .3s ease;
    font-size: 1rem;
}

.buttons button {
    padding: 6px 15px;
    border-radius: 2px;
    text-transform: capitalize;
    color: var(--text-white);
    font-weight: 600;
    transition: all .3s ease;
    min-width: 80px;
    border-radius: 30px ;
}


.okButton {
    background-color: var(--color-success);
}

.cancelButton {
    background-color: var(--color-danger);
}

.buttons button:hover{
    background-color: var(--theme-dark-bg);
}