td {
    text-transform: capitalize;
    vertical-align: middle;
    height: 45px;
    padding: 10px 7px;
    border-bottom: 1px solid #dddddd;
}

.nameEmail>div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.nameEmailText{
    display: flex;
    flex-flow: column;
}

.nameEmailText p {
    margin: 3px 0;
}

.emailText {
    font-size: 12px;
    color: #4a5073;
    text-transform: lowercase;
}


.email {
    text-transform: lowercase;
}

.status {
    font-weight: 700;
}

tr.approved .status {
    color: var(--color-success);
}

tr.denied .status {
    color: var(--color-danger);
}

tr.pending .status {
    color: var(--color-warning);
}


.actions {
    white-space: nowrap;
}

.processor, .status, .actions, .duration {
    text-align: center;
}