
.name, .reason {
    text-align: left;
}

.name, .duration{
    min-width: 150px
}

.duration {
    width: 20%;
    min-width: 130px;
}

.reason {
    min-width: 300px;
}

.status {
    min-width: 100px;
}

.processor {
    min-width: 200px;
}
